MWANGAZA_ENV=local
MWANGAZA_LOG_LEVEL=INFO
MWANGAZA_DATA_DIR=./data
MWANGAZA_CACHE_DIR=./.cache/mwangaza
MWANGAZA_GEE_PROJECT=replace-me
MWANGAZA_GEE_SERVICE_ACCOUNT=replace-me
MWANGAZA_GEE_PRIVATE_KEY_JSON=replace-me
